@font-face {
    font-family: ubuntu;
    src: url(../fonts/Ubuntu/Ubuntu-Regular.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
/* configurando o cabeçalho */
header {  
    width: 100%;
    height: 50vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.466), rgba(0, 0, 0, 0.466)), url(../img-slider/slider-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
header .menu-nav {
    padding: 10px 4%;
    display: flex;
    text-align: justify;
    justify-content: space-between;
}
header .menu-nav .logo img {
    width: 100%;
    height: 70px;
}
header .menu-nav ul {
    list-style-type: none;
    margin: 0 10px;
}
header .menu-nav ul li {
    display: inline-block;
    padding: 0 10px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.466), rgba(0, 0, 0, 0.466));
}
header .menu-nav ul li a {
    text-decoration: none;
    color: #c2b6b6;
    font-size: 1em;
}
header .txt-sobre h2 {
    text-align: center;
    position: relative;
    justify-content: center;
    font-size: 2.3em;
    color: #fff;
    top: 50px;
}
/* configurando o main (conteúdo principal) */
main .txt-main {
    padding: 80px;
    font-size: 12px;
    justify-content: center;
    text-align: center;
    margin: auto;
}
main .txt-main h2, p {
    max-width: 50%;
    line-height: 20px;
}
main .sobre {
    display: flex;
    justify-content: space-around;
}
main .sobre .imagem {
    width: 100%;
} 
/* configurando o rodapé */
footer {
    width: 100%;
    background-color: rgba(0, 0, 2, 0.658);
}
footer .txt-footer {
    display: flex;
    padding: 10px 4%;
    justify-content: space-between;
}
footer .txt-footer .logo img {
    width: 100%;
    height: 80px;
}
footer .txt-footer .links-externos {
    display: flex;
}
footer .txt-footer .links-externos ul {
    list-style-type: none;
}
footer .txt-footer .links-externos ul li > a {
    text-decoration: none;
    padding: 0 50px;
    color: #000;
    line-height: 25px;
}